.testimonials {
	min-height: 730px;
	padding-top: 110px;

	@media (max-width: 1024px){
		padding-top: 50px;
	}

	.section-heading {
		margin-bottom: 90px;

		@media (max-width: 1024px){
			margin-bottom: 45px;
		}
		& > * {
			text-align: center;
		}
	}

	&__card {
		display: flex;
		font-family: $secondary-font;
		background-color: $light-grey-color;
	}

	$basis: 35%;

	&__user-img {		
		padding-top: 22%;
		position: relative;
		flex-basis: $basis;

		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__user-text {
		flex-basis: calc(100% - #{$basis});
		padding: 50px;
	}

	.user-name {
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 40px;
	}

	.user-text {
		text-indent: 30px;
		line-height: 1.7;
		position: relative;

		&::before {
			content: "";
			display: block;
			position: absolute;
			$size: 20px;
			width: $size;
			height: $size;
			background: url($img-path+'double-quotes.svg') no-repeat;
			background-size: 100%;
			transform: rotate(180deg) translateY(50%);
		}
	}
}