/*
***********MAP***********
*****#COMMON
*****#HEADER
*****#PRODUCT
***********MAP***********
*/


/* #COMMON */
* {
	box-sizing: border-box;
}

.cf {
	clear: both;
}

.cf::before,
.cf::after {
	content: "";
	display: table;
	clear: both;
}

html,
body {
	width: 100%;
	height: 100vh;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0;
	position: relative;
	background: rgba(101,61,151,1);
	background: -moz-linear-gradient(left, rgba(101,61,151,1) 0%, rgba(172,113,175,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(101,61,151,1)), color-stop(100%, rgba(172,113,175,1)));
	background: -webkit-linear-gradient(left, rgba(101,61,151,1) 0%, rgba(172,113,175,1) 100%);
	background: -o-linear-gradient(left, rgba(101,61,151,1) 0%, rgba(172,113,175,1) 100%);
	background: -ms-linear-gradient(left, rgba(101,61,151,1) 0%, rgba(172,113,175,1) 100%);
	background: linear-gradient(to right, rgba(101,61,151,1) 0%, rgba(172,113,175,1) 100%);
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: transparent url("../img/bg_t.png") no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: .4;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 875px;
	padding: 30px 65px 0;
	margin: auto;
}

.cross {
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
}

.cross::before,
.cross::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	border-bottom: 1px solid #000;
	top: 50%;
}

.cross::after {
	transform: rotate(90deg);
}

.label {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	padding: 5px;
	display: inline-block;
}

.label--orange {
	background-color: #ffa60d;
}

.btn {
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
	background: none;
	border: 1px solid #000;
	width: 100%;
	font-weight: 600;
	transition: all .2s ease;
}

.btn:hover {
	background-color: #a200b8;
	border-color: #a200b8;
	color: #fff;
}

.img-wrapper {
	display: block;
}

/* #HEADER */
.main-header {
	text-align: center;
}

.logo {
	float: left;
}

.logo__link {
	display: block;
}

.tabs {
	display: inline-block;
	margin: 0 auto;
}

.tabs__item {
	display: inline-block;
	margin-right: 50px;
}

.tabs__item:last-child {
	margin-right: 0;
}

.tabs__link {
	display: block;
	padding: 5px 0;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .3s ease;
}

.tabs__link:hover,
.tabs__link--active {
	border-bottom-color: #fff;
}

.drop {
	float: right;
	cursor: pointer;
	position: relative;
}

.drop__button {
	width: 22px;
	height: 22px;
	padding: 5px 0;
}

.drop__button > * {
	display: block;
	position: relative;
	border-bottom: 1px solid #fff;
	margin-bottom: 5px;
	width: 100%;
}

.drop__button > *:last-child {
	margin-bottom: 0;
}

.drop__button--open > *:first-child {
	transform: rotate(45deg);
	top: 6px;
}

.drop__button--open > *:nth-child(2) {
	transform: rotate(-45deg)
}

.drop__button--open > *:last-child {
	display: none;
}

.drop__menu {
	display: none;
	padding: 20px 0;
	position: absolute;
}

.drop__button--open + .drop__menu {
	display: block;
}

.drop__menu-item {
	margin-bottom: 10px;
}

/* #PRODUCT */

.products-tabs {
	position: relative;
}

.products-tabs__item {
	position: absolute;
	width: 100%;
}

.products-tabs__item--open {
	display: block;
	z-index: 20;
}

.product {
	padding: 60px 0 0;
}

.product__card {
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.product__card-cross {
	opacity: .2;
	position: absolute;
	top: 10px;
	right: 10px;
	transform: rotate(45deg);
	transition: opacity .2s ease;
}

.product__card-cross:hover {
	opacity: 1;
}

.product__img-side {
	float: left;
	padding: 23px 16px;
	width: 69%;


	background-color: #fff;
	background-image: rgba(237,234,236,1);
	background-image: -moz-linear-gradient(top, rgba(237,234,236,1) 0%, rgba(244,244,244,1) 50%);
	background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,234,236,1)), color-stop(50%, rgba(244,244,244,1)));
	background-image: -webkit-linear-gradient(top, rgba(237,234,236,1) 0%, rgba(244,244,244,1) 50%);
	background-image: -o-linear-gradient(top, rgba(237,234,236,1) 0%, rgba(244,244,244,1) 50%);
	background-image: -ms-linear-gradient(top, rgba(237,234,236,1) 0%, rgba(244,244,244,1) 50%);
	background-image: linear-gradient(to bottom, rgba(237,234,236,1) 0%, rgba(244,244,244,1) 50%);
}

.product__img {
	margin: 0;
	position: relative;
	z-index: 10;
	background: url("../img/bg.png") no-repeat 50% 15%;
	background-size: 96%;
}

.product__img img {
	width: 100%;
	height: 338px;
}

.product__caption {
	color: #fff;
	background: url("../img/title_bg.png") no-repeat;
	text-transform: uppercase;
	font-size: 6.5em;
	font-weight: bold;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 9;
	top: 11%;
	opacity: .6;
	font-family: Arial, sans-serif;
}

.product__pict {
	position: relative;
	z-index: 10;
}

.product__thumbs {
	text-align: center;
}

.product__thumbs-item {
	display: inline-block;
	margin-right: 18px;
}

.product__thumbs-link {
	display: block;
	font-size: 0;
}

.product__thumbs-item:last-child {
	margin-right: 0;
}

.product__img-cross {
	position: absolute;
	bottom: 20px;
	right: 10px;
	z-index: 20;
}

.product__info-side {
	float: right;
	padding: 40px 5px 0 30px;
	width: 31%;
}



.product__slogan {
	text-transform: uppercase;
}

.product__slogan > * {
	font-size: 24px;
	font-weight: 600;
}

.product__slogan span {
	color: #5e4fff;
}

.product__rating {
	margin-bottom: 15px;
}

.product__name {
	font-weight: bold;
	float: left;
	margin: 0 15px 0 0;
	text-transform: capitalize;
}

.rating__item {
	display: inline-block;
	width: 9px;
	height: 9px;
	background-size: 100%;
	background-repeat:  no-repeat;
}

.rating__item:last-child {
	margin-right: 0;
}

.rating__item--full {
	background-image: url("../img/star.svg");
}

.rating__item--empty {
	background-image: url("../img/star_grey.svg");
}

.price {
	font-size: 22px;
	font-weight: 400;
}

.price__currency {
	margin-right: 5px;
}

.product__size-list {
	margin-left: -6px;
	margin-bottom: 35px;
}

.size-list__item {
	display: inline-block;
	margin-right: 10px;
	position: relative;
}

.size-list__item input {
	position: absolute;
	z-index: 9;
	opacity: 0;
}

.size-list__label {
	display: block;
	width: 25px;
	height: 25px;
	border: 1px solid transparent;
	text-align: center;
	padding: 5px 0;
	cursor: pointer;
	font-size: 15px;
	position: relative;
	z-index: 50;
}

.size-list__label--active {
	border-color: #000;
}

.product__buttons {
	width: 120px;
}

.product__buttons > * {
	margin-bottom: 5px;
}