.ba-first-screen {
	min-height: 100vh;
	max-height: 100vh;
	@include bg-image('header-bg.png', 50% 55%);
	position: relative;

	& > .container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		.row {
			flex-grow: 1;
			display: flex;
			align-items: center;
		}
	}

	&__title{
		margin-bottom: 15px;

		& > * {
			font-size: $font-size-header-title;
			text-transform: capitalize;
			font-weight: 900;
		}
	}

	&__text {
		margin-bottom: 35px;
	}

	&__button {
		@include button($orange-color, 200px);
	}
}

.header-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.ba-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 145px;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;

	&.scrolled {
		min-height: 55px;
		background-color: rgba(#fff, .7);
		opacity: .5;

		&:hover {
			opacity: 1;
		}

		.ba-header__logo {
			font-size: 30px;
		}
	}

	&__logo {
		font-size: 50px;
	}
}

.ba-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&__link {
		text-transform: uppercase;
		font-weight: bold;
		padding: 3px 0 0;
		border-top: 3px solid transparent;

		&:hover {
			border-top-color:$orange-color;
		}
	}
}

.scroll-block {
	position: absolute;
	bottom: 50px;
}

