$white-color: #ffffff;
$dark-color: #262626;
$orange-color: #ff6033;

$font-size-form: 15px;
$font-size-text: 17px;
$font-size-element: 20px;
$font-size-header-title: 60px;
$font-size-section-title: 90px;

$line-height: 27px;


$logo-font: 'Pacifico', cursive;
$main-font: 'Raleway', sans-serif;

$main-color: $dark-color;
$secondary-color: $white-color;

$img-path: '../img/';